@inject IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http;
<form class="mx-1 mx-md-4" method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Book">
    <div class="d-flex flex-row align-items-center mb-4">
        <div class="form-outline flex-fill mb-0">
            <input type="hidden" id="form3Example1c" name="Eid"  value="@Model.Id" class="form-control" required />
        </div>
    </div>
    <div class="d-flex flex-row align-items-center mb-4">
        <div class="form-outline flex-fill mb-0">
            <input type="hidden" id="form3Example1c" name="Uid" value="@HttpContextAccessor.HttpContext.Session.GetInt32("Id")" class="form-control" required />
        </div>
    </div>

    <h2>Are You sure You Want to Book??</h2>

    @*  <div class="form-check d-flex justify-content-center mb-5">
    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
    <label class="form-check-label" for="form2Example3">
    I agree all statements in <a href="#!">Terms of service</a>
    </label>
    </div>*@

    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
        <button type="submit" class="btn btn-primary btn-lg">Yes</button> &nbsp; &nbsp;
        <a href="/Home/Privacy" class="btn btn-warning">No</a>
    </div>

</form>
