@model Event.Models.Eventss
<form class="mx-1 mx-md-4" method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="UpdateEvent">
    <div class="d-flex flex-row align-items-center mb-4">
        <div class="form-outline flex-fill mb-0">
            <label class="" for="form3Example1c"> Id</label>
            <input type="text" id="form3Example1c" asp-for="Id" class="form-control" required />
        </div>
    </div>
    <div class="d-flex flex-row align-items-center mb-4">
        <div class="form-outline flex-fill mb-0">
            <label class="" for="form3Example1c"> Name</label>
            <input type="text" id="form3Example1c" asp-for="Name" class="form-control" required />
        </div>
    </div>

    <div class="d-flex flex-row align-items-center mb-4">
        <div class="form-outline flex-fill mb-0">
            <label class="" for="form3Example3c"> Venue</label>
            <input type="text" id="form3Example3c" asp-for="Venue" class="form-control" required />
        </div>
    </div>
    <div class="d-flex flex-row align-items-center mb-4">
        <div class="form-outline flex-fill mb-0">
            <label class="" for="myFile"> Venue Image</label>
            <input type="file" id="myFile" asp-for="Image" class="form-control"/>
        </div>
    </div>
    <div class="d-flex flex-row align-items-center mb-4">
        <div class="form-outline flex-fill mb-0">
            <label class="" for="form3Example4c">Price</label>
            <input type="number" id="form3Example4c" asp-for="Price" class="form-control" required />
        </div>
    </div>

    <div class="d-flex flex-row align-items-center mb-4">
        <div class="form-outline flex-fill mb-0">
            <label class="" for="form3Example4cd">Enter Date</label>
            <input type="datetime-local" data-date-inline-picker="true" id="form3Example4cd" asp-for="Time" class="form-control" required />
        </div>
    </div>

    @*  <div class="form-check d-flex justify-content-center mb-5">
    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
    <label class="form-check-label" for="form2Example3">
    I agree all statements in <a href="#!">Terms of service</a>
    </label>
    </div>*@

    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
        <button type="submit" class="btn btn-primary btn-lg">Update</button>
    </div>

</form>